<%- include('header.ejs') %>
    <script src="/scripts/contacts.js"></script>

    <h1>CONTACT US</h1>
    <h3>We deliver the fastest customer support on active business hours</h3>
    <section class="contact-wrap">
        <form action="" class="contact-form">
            <div class="col-sm-6">
                <div class="input-block">
                    <label for="">First Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-block">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="input-block">
                    <label for="">Email</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="input-block">
                    <label for="">Message Subject</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="input-block textarea">
                    <label for="">Drop your message here</label>
                    <textarea rows="3" type="text" class="form-control"></textarea>
                </div>
            </div>
            <div class="button-wrap">
                <button class="real-button">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Send</span>
                </button>
            </div>
        </form>
    </section>
    <%- include('footer.ejs') %>