<!DOCTYPE html>
<html>

<head>
  <title>Recipe Cookbook!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/product.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/contacts.css" type="text/css">
  <script src="/public/scripts/slideshow.js"></script>
  <script src="/public/scripts/checkbox.js"></script>
</head>

<body>
  <nav class="nav_bar">
    <div id="logo">
      <img src="/images/logo.png" alt="Not Working" height="40px" width="40px">
    </div>

    <div>
      <a href="/" id="nav_bar_options">Home</a>
      <a href="/#options" id="nav_bar_options">Explore Categories</a>
      <a href="/about" id="nav_bar_options">About Us</a>
      <a href="/login" id="nav_bar_options" name="loginUsername">Log In</a>
    </div>

    <!--<div>-->
    <!--<form action="http://localhost:3001/login" method="post">-->
    <!--<label>Username:</label>-->
    <!--<input type="text" id="username" name="username"><br>-->
    <!--<label>Password:</label>-->
    <!--<input type="text" id="password" name="password"><br>-->
    <!--<input type="submit" id="submit" name="submit" value="Log In">-->
    <!--</form>-->
    <!--</div>-->



    <div id="dark_mode" onclick="dark_mode()">

      <label class="switch">
        <input type="checkbox" id="btn">
        <span class="slider"></span>
      </label>
    </div>


  </nav>