<div>
    <h2>Already have an account? <a href="/login">Log in!</a></h2>

        <form action="signup" method="post">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="text" id="password" name="password"><br>
            <input type="submit" id="submit" name="submit" value="Sign Up" >
    </form>
</div>